@import "weather-icons.min.css";

@import "weather-icons-wind.min.css";

* {
	color: #FFF;
	outline: none;
}

html, body {
	background-color: #000;
}

.ofviewport {
	font-family: Arial, Verdana;
	text-align: center;
}

.ofviewport .weather-box {
	margin-top: 8vw;
	display: inline-block;
}

.ofviewport .weather-box .condition-box, .ofviewport .weather-box .temp-humidity-box, .ofviewport .weather-box .pressure-box, .ofviewport .weather-box .wind-speed-box, .ofviewport .weather-box .temperature-box div, .ofviewport .weather-box .humidity-box div, .ofviewport .weather-box .pressure-box div, .ofviewport .weather-box .wind-speed-box div {
	display: inline-block;
}

.ofviewport .weather-box .condition-box {
	width: 30vw;
}

.ofviewport .weather-box .temp-humidity-box {
	width: 60vw;
}

.ofviewport .weather-box .weather-icon {
	font-size: 20vw;
	margin-top: -50px;
	margin-right: 10vw;
	line-height: normal;
}

.ofviewport .weather-box .temperature-box {
	margin-bottom: 100px;
}

.ofviewport .weather-box .wi.wi-thermometer, .ofviewport .weather-box .temperature {
	font-size: 10vw;
	line-height: 1vw;
}

.ofviewport .weather-box .wi.wi-humidity, .ofviewport .weather-box .humidity {
	font-size: 10vw;
	line-height: 1vw;
}

.ofviewport .weather-box .wi.wi-barometer, .ofviewport .weather-box .pressure {
	font-size: 6vw;
	line-height: 1vw;
}

.ofviewport .weather-box .wi.wi-strong-wind, .ofviewport .weather-box .windspeed {
	font-size: 6vw;
	line-height: 1vw;
}

.ofviewport .weather-box .pressure-box {
	margin-right: 2vw;
}

.ofviewport .weather-box .wind-speed-box {
	margin-left: 2vw;
}

.ofviewport .weather-box .current-time {
	font-weight: bold;
	font-size: 1vw;
}

.ofviewport .weather-box .weather-box-footer {
	margin-top: 2vw;
}

.ofviewport .alarm-box {
	height: 100vh;
	width: 100vw;
	background-color: #c0c0c0;
}

.ofviewport .alarm-box .head-info {
	font-size: 2.3vw;
	height: 1.4vw;
	padding: 10px 25px;
	border-bottom: 3px solid #FFF;
}

.ofviewport .alarm-box .head-info * {
	font-size: 1.2vw;
	color: #FFF;
}

.ofviewport .alarm-box .head-info div div {
	display: inline-block;
}

.ofviewport .alarm-box .buzzword {
	width: 100%;
	height: auto;
	font-size: 5.7vw;
	padding: 10px 25px;
	text-align: center;
	border-bottom: 3px solid #FFF;
}

.ofviewport .alarm-box .buzzword * {
	color: #FFF;
}

.ofviewport .alarm-box .map-resources {
	border-top: 3px solid #FFF;
	width: 100vw;
	height: 60vh;
}

.ofviewport .alarm-box .map-resources .map {
	height: 100%;
	width: 59vw;
	display: inline-block;
}

.ofviewport .alarm-box .map-resources .leaflet-popup-content {
	color: #000;
}

.ofviewport .alarm-box .map-resources .resources {
	height: 100%;
	width: 40vw;
	display: inline-block;
	vertical-align: top;
}

.ofviewport .alarm-box .map-resources .resources * {
	color: #FFF;
}

.ofviewport .alarm-box .details {
	display: inline-block;
	padding: 10px 25px;
}

.ofviewport .alarm-box .details * {
	font-size: 1.5vw;
	color: #FFF;
}

.ofviewport .alarm-box .details div {
	text-align: left;
	width: 70vw;
}

.ofviewport .alarm-box .details div .label {
	width: 15%;
}

.ofviewport .alarm-box .details div .data {
	width: 83%;
}

.ofviewport .alarm-box .details div div {
	display: inline-block;
}

.ofviewport .alarm-box .operation-resource {
	border: 4px solid #FFF;
	margin: 10px;
	padding: 10px;
	font-size: 6vw;
	font-weight: bold;
	width: 35% !important;
}

.ofviewport .operation-ta .alarm-box {
	background-color: #3399ff !important;
}

.ofviewport .operation-fire .alarm-box {
	background-color: #ff3300 !important;
}