#set( $action = $tool.getAction() )
#set( $bootstrapManager = $tool.getBootstrapManager() )
#set( $i18n = $tool.getTranslationProvider() )
<div id="alarm-box" class="alarm-box">
    <div class="buzzword" location="buzzword"></div>
	<div class="details">
		<div class="objectBox">
			<div class="label">${i18n.getText('operation.model.object')}:</div> <div class="data" location="object"></div>
		</div>
		<div class="streetBox">
			<div class="label">${i18n.getText('operation.model.street')}:</div><div class="data" location="street"></div>
		</div>
		<div class="cityBox">	
			<div class="label">${i18n.getText('operation.model.city')}:</div><div class="data" location="city"></div>
		</div>
    </div>
	<div class="map-resources">
		<div location="map" class="map"></div>
		<div location="resources" class="resources"></div>
	</div>
	<div location="externalResources" class="externalResources"></div>
</div>
<div location="alarmsound"></div>