<div class="weather-box">
	<div>
		<div location="condition" class="condition-box"></div>
		<div class="temp-humidity-box">
			<div class="temperature-box">
                <div class="wi wi-thermometer" />&nbsp;</div>
                <div location="temperature" class="temperature"></div>
        	</div>
        	<div class="humidity-box">
                <div class="wi wi-humidity">&nbsp;</div>
                <div location="humidity" class="humidity"></div>
        	</div>
        </div>
    </div>
    <div>
        <div class="pressure-box">
            <div class="wi wi-barometer">&nbsp;</div>
        	<div location="pressure" class="pressure"></div>
        	<div location="rising" class="pressure"></div>
        </div>
    	<div class="wind-speed-box">
            <div class="wi wi-strong-wind">&nbsp;</div>
            <div location="windSpeed" class="windspeed"></div>
            <div location="windDirection" class="windspeed"></div>
        </div>
    </div>
	<div class="weather-box-footer">
		<div class="current-time">Zuletzt aktualisiert:</div>
        <div location="currentTime" class="current-time"></div>
    </div>
    <div class="claim">
    	Served by: OpenFlorian - https://bitbucket.org/ceth/openflorian
    </div>
</div>